<% provide(:title, @user.name) %>
<% if current_user?(User.find(params[:id])) %><!--view self profile-->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1 tabbable">
      <div class="span2 offset1 sidenav navRegion">
      <ul class="nav nav-pills nav-stacked">
        <li><h4 class="tabTitle">Profile</h4></li>
        <hr class="line">
        <li class="active"><a href="#pill1" data-toggle="pill">My Account</a>
        <li><a href="#pill6" data-toggle="pill">Edit</a></li>
        <li><h4 class="tabTitle">Events</h4></li>
        <hr class="line">
        <li><a href="#pill3" data-toggle="pill">Host</a></li>
        <li><a href="#pill4" data-toggle="pill">Attend</a></li>
      </ul>
      </div>
      <div class="tab-content span8">
        <div class="tab-pane active" id="pill1">
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span2"><div class="thumbnail">
                <%= image_tag(@user.image_url || "default_profile.jpg") %>
              </div></li>
              <li class="span4">
                <h4><%= @user.name %></h2>
                <p>
                  <span class="color"><%=@user.likers.count %></span>
                  <%if @user.likers.count==1%>user<%else%>users<%end%> like your event.
                </p>
              </li>
            </ul>
              <div class="likehost">
                <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Don't forget to like the hosts of events you attend <span class="caret"></span></a>
                <ul class="dropdown-menu hostlist" role="menu" aria-labelledby="dLabel">
                  <% @hosts.each do |host| %>
                  <li><%=link_to host.name, host %></li><hr class="line">
                  <% end %>
                </ul>
                </div>
              </div>
          </div>
          <div class="row-fluid">
            <table class="table">
              <thead>
                <tr><th></th><th></th></tr>
              </thead>
              <tbody>
                <tr><td>Email Address: </td><td class="content"><p><%= @user.email %></p></td></tr>                <tr><td>City</td><td class="content"><p><%= @user.city %></p></td></tr>
                <tr><td>Gender: </td><td class="content"><p><%= @user.gender %></p></td></tr>
                <tr><td>Hobbies: </td><td class="content"><p><%= @user.hobby %></p></td></tr>
                <tr><td>Blog Address: </td><td class="content"><p><%= @user.blog %></p></td></tr>
              </tbody>
            </table>
          </div>
          <!--people like you-->
          <div class="row-fluid">
            <h4>People who like you</h4>
            <hr class="line">
            <div class="likelist">
            <ul class="thumbnails"> 
            <% @user.likers.each do |user| %>
              <li class="span2">
                <div class="thumbnail">
                <%=image_tag(user.image_url || "default_profile.jpg") %>
                <%=link_to user.name, user %>
                </div>
              </li>
            <% end %>
            </ul>
            </div>
          </div>
          <!--people you like-->
          <div class="row-fluid">
            <h4>People you like</h4>
            <hr class="line">
            <div class="likelist">
            <ul class="thumbnails"> 
            <% @user.liked_users.each do |user| %>
              <li class="span2">
                <div class="thumbnail">
                <%=image_tag(user.image_url || "default_profile.jpg") %>
                <%=link_to user.name, user %>
                </div>
              </li>
            <% end %>
            </ul>
            </div>
          </div>
        </div><!--tab1 ends-->
        <div class="tab-pane" id="pill6"><!--edit profile-->
          <div class="row-fluid">
            <div class="span12">
              <%= form_for(@user, :action => user_path(@user), :method => "put", :html => {:multipart => true} ) do |f| %>
              <div class="row-fluid">
                <h4>Personal Info</h4>
                <hr class="line">
                <div class="span2" style="text-align: center;">
                  <div class="thumbnail"><%= image_tag(@user.image_url || "default_profile.jpg") %></div>
                  <br>
                  <a href="#upload" class="btn btn-primary" data-toggle="modal"><i class="icon-upload"></i>Upload</a>
                <!--upload photo modal-->
                <div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 id="myModalLabel">Upload photo</h3>
                  </div>
                  <div class="modal-body">
                    <%= f.file_field :image %>
                  </div>
                  <div class="modal-footer">
                  <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
                  </div>
                </div>  
                </div>
                <div class="span8 offset1 profile">
                  <div class="form-inline">
                  <%= f.label :name %>
                  <%= f.text_field :name,:class=>"span7" %>
                  </div><br>
                  <div class="form-inline">
                  <%= f.label :email %>
                  <%= f.text_field :email,:class=>"span7" %>
                  </div><br>
                  <div class="form-inline">
                  <%= f.label :city %>
                  <%= f.select(:city, [['Not Public', ''],['Boston','Boston'],['New York','New York']],{},:class=>"span7") %>
                  </div><br>
                  <div class="form-inline">
                  <%= f.label :gender %>
                  <%= f.select(:gender, [['Not Public', ''],['Male','Male'],['Female','Female']],{},:class=>"span7")%>
                  </div><br>
                  <%= f.label :blog, "Blog Address(Optional)" %>
                  <%= f.text_field :blog, :class=>"span10" %>
                  
                  <%= f.label :hobby, "Hobby(Optional)" %>
                  <%= f.text_field :hobby, :class=>"span10", :value=>@user.hobby %>
                </div>  
              </div> 
              <div class="changepassword">
                <div>
                  <h4>Change Password</h4> 
                </div>
                <hr class="line">
                <div class="form-inline offset1">
                <%= f.label :password, "Change password:" %>&nbsp&nbsp&nbsp
                <%= f.password_field :password%>
                </div><br>
                <div class="form-inline offset1">
                <%= f.label :password_confirmation, "Confirm Password:" %>&nbsp&nbsp
                <%= f.password_field :password_confirmation%>
                </div>
              </div>
              <br><br>
              <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pill3"><!--events-->
          <div class="row-fluid events">
            <h4> Not happened Event (<%= @futureevents.count %>)</h4>
            <hr class="line">
            <ul class="media-list">
              <% @futureevents.each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
            <h4> Out of date event (<%= @pastevents.count %>)</h4>
            <hr class="line">
            <ul class="media-list">
              <% @pastevents.each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="tab-pane" id="pill4">
          <div class="row-fluid events">
            <h4> Attend (<%= @user.attended_events.count %>)</h4>
            <hr class="line">
            <ul class="media-list">
              <% @user.attended_events.order('time DESC').each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<!--view others' profile-->
<% else %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1 tabbable">
      <ul class="nav nav-pills nav-stacked span3">
        <li class="active"><a href="#pill1" data-toggle="pill"><%= @user.name %>'s profile</a>
        <li><a href="#pill3" data-toggle="pill"><%= @user.name %>'s Events</a></li>
      </ul>
      <div class="tab-content span8 userContent">
        <div class="tab-pane active" id="pill1">
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3"><div class="thumbnail">
                <%= image_tag(@user.image_url ||"default_profile.jpg") %>
              </div></li>
              <li class="span9">
                <h2><%= @user.name %></h2>
                <p>
                  <span class="color" id="likers"><%= @user.likers.count%></span>
                  <%if @user.likers.count==1 %>user<%else%>users<%end%> like <%=@user.name %>.
                </p>
                <% unless current_user?(@user) %>
                <div id="like_form">
                  <% if current_user.liking?(@user) %>
                    <%= form_for(current_user.relationships.find_by_liked_id(@user),html: { method: :delete }, remote: true) do |f| %>
                      <%= f.submit "Unlike", class: "btn btn-small" %>
                    <% end %> 
                  <% else %>
                    <%= form_for(current_user.relationships.build(liked_id: @user.id), remote: true) do |f| %>
                    <div><%= f.hidden_field :liked_id %></div>
                    <p>If you like <%= @user.name %>'s events, click like!</p>
                    <%= f.submit "Like", class: "btn btn-small btn-primary" %>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
                <!--<button class="btn btn-primary btn-small">Like</button>-->
              </li>
            </ul>
          </div>
          <div class="row-fluid">
            <table class="table">
              <thead>
                <tr><th></th><th></th></tr>
              </thead>
              <tbody>
                <tr><td>Email Address</td><td class="content"><p><%= @user.email %></p></td></tr>
                <tr><td>City</td><td class="content"><p><%= @user.city %></p></td></tr>
                <tr><td>Gender</td><td class="content"><p><%= @user.gender %></p></td></tr>
                <tr><td>Hobbies</td><td class="content"><p><%= @user.hobby %></p></td></tr>
                <tr><td>Blog Address</td><td class="content"><p><%= @user.blog %></p></td></tr>
              </tbody>
            </table>
          </div>
          <!--people this people like-->
          <div class="row-fluid">
            <h4>People <%= @user.name %> like</h4>
            <hr class="line">
            <div class="likelist">
            <ul class="thumbnails"> 
            <% @user.liked_users.each do |user| %>
              <li class="span2">
                <div class="thumbnail">
                <%=image_tag(user.image_url || "default_profile.jpg") %>
                <%=link_to user.name, user %>
                </div>
              </li>
            <% end %>
            </ul>
            </div>
          </div>
          <!--people like this person-->
          <div class="row-fluid">
            <h4>People who like <%=@user.name %></h4>
            <hr class="line">
            <div class="likelist">
            <ul class="thumbnails"> 
            <% @user.likers.each do |user| %>
              <li class="span2">
                <div class="thumbnail">
                <%=image_tag(user.image_url || "default_profile.jpg") %>
                <%=link_to user.name, user %>
                </div>
              </li>
            <% end %>
            </ul>
            </div>
          </div>
        </div><!--tab1 ends-->
        <!--tab2 ends-->
        <div class="tab-pane" id="pill3">
          <div class="row-fluid events">
            <h2><%= @user.name %> Hosts</h2>
            <hr class="line">
            <h4> Not happened Event (<%= @futureevents.count %>)</h4>
            <hr class="line">
            <ul class="media-list">
              <% @futureevents.each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
            <h4> Out of date event (<%= @pastevents.count %>)</h4>
            <hr class="line">
            <ul class="media-list">
              <% @pastevents.each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
            <h2><%= @user.name %> Attends(<%= @user.attended_events.count %>)</h2>
            <hr class="line">
            <ul class="media-list">
              <% @user.attended_events.order('time DESC').each do |event| %>
              <%= render event %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
<% end %>
