<% provide(:title, "Edit Event") %>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=true">
</script>	

<div class="row-fluid">
  <div class="span10	offset1  well signup">                                                          
    <h1>Edit my event</h1><br/>
		<div>
			<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<div class="span7 left">
				<%= f.label :title, class:"eachItem"%>
				<%= f.text_field :title , class: "field span11"%>
				
				<%= f.label :content, :class=>"eachItem" %>
				<%= f.text_area :content,  :class=> "field span11" ,:width => "350px", :hight => "300px", placeholder: "Briefly introduce your event Here..."%>
			</div>
			<div class="span3 offset0" >

				<h5><em>Never forget to tell people WHEN and WHERE you event is going to held!</em></h4><br/>
				
				<label, class="eachItem">Event start time:</label>
				<input type="text" class="datetimepicker" name="event[time]"/>
				
				<label, class="eachItem">Event end date:</label>
				<input type="text" class="datetimepicker" name="event[endtime]"/>
				
				<label, class="eachItem">Place:</label>
				<%#= f.label :place %>
				<%= f.text_field :place, :class=>"eachItem"%>
			</div>

			<label, class="eachItem">Place:</label>
			<%#= f.label :place %>
			<%= f.text_field :place, :class=>"eachItem"%>
			<div>
			<label class="control-label" for="City">City:</label>
			      <%= f.select(:city, [['Boston','Boston'],['New York','New York']]) %>
				
				<label class="control-label" for="category">Category:</label>
				<%= f.select(:category, [['Music','Music'],['Sports','Sports'],['Movies','Movies'],['Volunteer','Volunteer'],['Tour','Tour'],['Party','Party']]) %>
			</div>			
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<%end%>


			
		</div>
	</div>
</div>

