<% provide(:title, 'Post Event') %>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApTRZxR9qAHBk8vBJDwELX3ExZs5eATIE&sensor=false">
</script>

<div class='row-fluid'>	
  <div class="span10 offset1 well signup">                                                          
    <h1>Post my event</h1><br>
      <div>
	<%= form_for(@event) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="span7 left">

	    <div>
	    <p class="eachItem">Theme or title of your event:</p>
	    <%= f.text_field :title , class: "field span11"%>				
	    </div>
	  <div class="form-horizontal" style="float: left">
	    <div class="control-group">
	      <label class="control-label eachItem" for="category">Category:</label>
	      <div class="controls">
	      <%= f.select(:category, [['Music','Music'],['Sports','Sports'],['Movies','Movies'],['Volunteer','Volunteer'],['Tour','Tour'],['Party','Party']],:id=>"category") %>
	      </div>
	    </div>
	    <!--
	    <div class="control-group">
	      <label class="control-label eachItem">Upload events picture</label>
	      <div class="controls input-append">
		<input class="span2" id="appendedInputButton" type="text">
		<button class="btn" type="button">Browse</button>
	      </div>
	    </div>
	    -->
	  </div>
	  <div>
	      <p class="eachItem">Describe your event:</p>
	      <%= f.text_area :content,  :class=> "field span11" ,:width => "350px", :hight => "400px", placeholder: "Briefly introduce your event Here..."%>
	    </div>



	</div><!--left ends-->
	<div class="span4 offset0" >

	  <h5><b>Don't forget to tell people WHEN and WHERE your event is!</b></h5><br/>
				
	  <p class="eachItem">Event start time:</p>
	  <%= f.text_field :time, :value=> f.object.time, :class=>"datetimepicker" %>
				
	  <p class="eachItem">Event end time:</p>
	  <%= f.text_field :endtime, :value=> f.object.endtime, :class=>"datetimepicker" %>
	  <!--<input type="text" class="datetimepicker" name="event[endtime]"/>-->

	  <p class="control-label eachItem" for="City">City:</p>
	  <%= f.select(:city, [['Boston','Boston'],['New York','New York']],{},:class=>"span12")%>

	  <p class="eachItem">Location:</p>
	  <%= f.text_field :place, :class=>"eachItem locationInput"%>


<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->
<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->
	  <a href="#">Pin it on the map!</a>
	  <div class="span12">
	    <div id="map_canvas"><br></div>
	  </div>
<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->		
<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->
	</div><!--right ends-->
	<div class="span12">
	  <br>
	  <%= f.submit :class=> "offset2 btn btn-large btn-primary" %>
	</div>
	<%end%>

      </div>
    </div>
</div>
	
