<% provide(:title, 'Post Event') %>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApTRZxR9qAHBk8vBJDwELX3ExZs5eATIE&sensor=false">
</script>

<script src="https://apis.google.com/js/client.js?onload=onLoadCallBack&async=2"></script>



</script>

<div class='row-fluid'>	
  <div class="span10 offset1 well signup">                                                          
    <h1>Post my event</h1><br>
      <div>
		<%= form_for @event, :html => {:multipart => true} do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<!--start div-->
		<div class="span4 offset0 left" >
		  <div class="span12">
			<div class="span6">
			  <p class="eachItem">Start date:</p>
			  <input type="text" id="datepicker1" class="s startDate">
			</div>
		  </div>

		  <div class="span12">
			  <p class="eachItem">Start time:</p>
			  <div class="span12">
			    <div class = "span3">
			    <select class="span12 s startHour">
			<option>HH</option><option>01</option>
			<option>02</option><option>03</option><option>04</option>
			<option>05</option><option>06</option><option>07</option>
			<option>08</option><option>09</option>
			<option>10</option><option>11</option>
			<option>12</option>
			    </select>
			    </div>
			  <div class = "span3">
			    <select class = "span12 s startMin">
			      <option>MM</option>
			      <option>00</option>
			      <option>15</option>
			      <option>30</option>
			      <option>45</option>	
			    </select>
			  </div>
			  <div class="span3">
			    <select class = "span12 s startAP">
			      <option>AM</option>
			      <option>PM</option>	
			    </select>
			  
			  </div>
			</div>
		</div>
		<!--end div-->
		  <div class="span12">
			<div class="span6">
			  <p class="eachItem">End date:</p>
			  <input type="text" id="datepicker2" class="e endDate">
			</div>
		  </div>

		  <div class="span12">
			  <p class="eachItem">End time:</p>
			  <div class="span12">
			    <div class = "span3">
			    <select class="span12 endHour e">
			<option>HH</option><option>01</option>
			<option>02</option><option>03</option><option>04</option>
			<option>05</option><option>06</option><option>07</option>
			<option>08</option><option>09</option>
			<option>10</option><option>11</option>
			<option>12</option>
			    </select>
			    </div>
			  <div class = "span3">
			    <select class = "span12 endMin e">
			      <option>MM</option>
			      <option>00</option>
			      <option>15</option>
			      <option>30</option>
			      <option>45</option>	
			    </select>
			  </div>
			  <div class="span3">
			    <select class = "span12 endAP e">
			      <option>AM</option>
			      <option>PM</option>	
			    </select>
			  
			  </div>
		</div>

		</div>
			
	      
			<!--<input type="text" class="datetimepicker" name="event[endtime]"/>-->
			<div class="span12">
			  <p class="control-label eachItem" for="City">City:</p>
			  <%= f.select(:city, [['Boston','Boston'],['New York','New York']],{},:class=>"span12", :id=>"citySelect")%>
			  <p class="eachItem">Location:</p>
			  <div class="control-group" title="Click on the marker icon to pin your current location on the map">
				  <div class="controls">
				  <div class="input-append" >
					  <%= f.text_field :place, :class=>"span11", :id=>"locationInput"%>	
					  <span class="add-on" id="geoLoc"><i class="icon-map-marker"></i></span>
				  </div>
				</div>
			    </div>
			      <a id="pinGen" class="madeUpButton">Pin the above location on map</a>
			      

			  </div>

			  
						
		<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->
			 <div id="map_canvas"><br/><br/></div>
				<a id="locGen" class = "madeUpButton">Generate address from marker</a>
			 </div>

		<!--MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP -->
			    
		</div><!--left ends-->


	      <!--right starts-->

		<div class="span7 setupright">

		  <div>
			<p class="eachItem">Theme or title of your event:</p>
			<%= f.text_field :title , class: "field span12"%>				
		  </div>


			      
			<div class="form-inline" style="margin-bottom: 5px; margin-top: 5px;">
			  <label class="control-label eachItem" for="image">Upload an image to your event profile: <br></label>
			  <%= f.file_field :event_image%>
			</div>
			<div class="form-inline" style="margin-bottom: 5px; margin-top: 5px;">
			  <label class="control-label eachItem" for="category">Category:   <br>	</label>
			  <%= f.select(:category, [['Music','Music'],['Sports','Sports'],['Movies','Movies'],['Volunteer','Volunteer'],['Tour','Tour'],['Party','Party']],:id=>"category") %>
			</div>
		   
			<div>
			  <p class="eachItem">Describe your event:</p>
			  <%= f.text_area :content,  :class=> "field span12" ,:width => "350px", :hight => "400px", placeholder: "Briefly introduce your event Here..."%>
			</div>

		</div><!--left ends-->
		

		<div class="span12">
		  <br>
		  <%= f.text_field :time, :value=> f.object.time, :id=>"startDateTime", :class=>"resultsHidden span3" %>
		  <%= f.text_field :endtime, :value=> f.object.endtime, :id=>"endDateTime", :class=>"resultsHidden span3" %>

		  <%= f.submit :class=> "offset6 btn btn-large btn-primary" %>
		</div>
		<%end%>

      </div>
    </div>
</div>
	
