<!DOCTYPE html>
<html>
<head>
  <title>Eventus | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">  
          <a class="brand" href="#"><img src="LogoMaker.jpg"/></a>  
            <div class="nav-collapse">
              <ul class="nav">  
              <li><%= link_to "Home", root_path %></li>  
              <li><a href="#about">Post Events</a></li>  
              <li><%= link_to "My profile", current_user %></li>  
              </ul>
              <% if signed_in? %>
                <%= link_to "Sign Out", signout_path, class: "navbar-text pull-right", method: "delete" %>
                <p class="navbar-text pull-right">Welcome, <%= current_user.name%></p>
              <% else %>
                <%= link_to "Register", signup_path, class: "navbar-text pull-right" %>
                <%= link_to "Sign in", signin_path, class: "navbar-text pull-right" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid searchbar">
      <div class="row-fluid">
        <div class="span12 well search">
          <form class="form-inline">
            <label class="control-label" for="City">City:</label>
            <select name="city">
              <option value="City">All Cities</option>
              <option value="Boston">Boston</option>
              <option value="Cambridge">Cambridge</option>
              <option value="Chicago">Chicago</option>
            </select>
            <label class="control-label" for="category">Category:</label>
            <select name="category">
              <option value="category">All Categories</option>
              <option value="Sports">Sports</option>
              <option value="Music">Music</option>
              <option value="Movie">Movie</option>
            </select>
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    </header>
    <div class="container-fluid">
      <div clas="row-fluid">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>  
      </div>
    </div>
<footer>
  <div class="footer container-fluid navbar-fixed-bottom">
    <p>Copyright &copy; 2013</p><br>
    <p>Designed for </p><a href="http://6.470.scripts.mit.edu/2013/">MIT 6.470 </a><br>
    <p>By XDL</p>
  </div>
</footer>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
 