<!DOCTYPE html>
<html>
<head>
  <title>Eventus | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
  <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
  <script>
    $(function() {
      var pusher = new Pusher('b319ed07077d52ee9c5a');
      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>);
      
      channel.bind('new_message', function(data){
        dom_notify();             
      });
      
      function dom_notify(){
        alert('You are a pig!');  
      }
      
      // Some useful debug msgs
    pusher.connection.bind('connecting', function() {
      $('div#status').text('Connecting to Pusher...');
    });
    pusher.connection.bind('connected', function() {
      $('div#status').text('Connected to Pusher!');
    });
    pusher.connection.bind('failed', function() {
      $('div#status').text('Connection to Pusher failed :(');
    });
    channel.bind('subscription_error', function(status) {
      $('div#status').text('Pusher subscription_error');
    });
    });
  </script>
</head>
<body>
    <header>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="brand">
          <%=image_tag("eventus.png") %>
          </div>
            <div class="nav-collapse">
              <ul class="nav">  
              <li><%= link_to "Home", root_path %></li>  
              <li>
                <%  if signed_in? %>
                <%= link_to "Post event", postevent_path %>
                <% else %>
                <a href="#signin" class="navbar-text pull-right" data-toggle="modal">Post event</a>
                <% end %>
                </li>  
              <li>
                <%  if signed_in? %>
                <%= link_to "My profile", current_user%>
                <% else %>
                <a href="#signin" class="navbar-text pull-right" data-toggle="modal">My profile</a>
                <% end %>
              </li>  
              </ul>
              <% if signed_in? %>
                <%= link_to "Sign Out", signout_path, class: "navbar-text pull-right", method: "delete" %>
                <p class="navbar-text pull-right">Welcome, <%= current_user.name%></p>
              <% else %>
                <%= link_to "Register", signup_path, class: "navbar-text pull-right" %>
                <a href="#signin" class="navbar-text pull-right" data-toggle="modal">Sign in</a>
                <!--signin modal-->
                <div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 id="myModalLabel">Sign In</h3>
                  </div>
                  <div class="modal-body span4 offset1">
                    <%= form_for(:session, url: sessions_path) do |f| %>
    
                    <%= f.label :email %>
                    <%= f.text_field :email %>

                    <%= f.label :password %>
                    <%= f.password_field :password %>
                    
                    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
                  <% end %>
                  </div>
                  <div class="modal-footer">
                  <p class="pull-left">New user? <%= link_to "Sign up now!", signup_path %></p>
                  </div>
                </div><!--signin modal ends-->
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid searchbar">
      <div class="row-fluid">
        <div class="span12 well search">
          <%= form_tag events_path, :method => "get", :class => "form-inline" do %>
          <label for "City">City:</label>&nbsp; 
            <%= select_tag  "city", options_for_select([['All Cities',''],['Boston','Boston'],['New York','New York']],@city) %>
            &nbsp;&nbsp;
            <label for "Category">Category:</label>&nbsp;
            <%= select_tag  "category", options_for_select([['All Categories',''],['Music','Music'],['Sports','Sports'],['Movies','Movies'],['Volunteer','Volunteer'],['Tour','Tour'],['Party','Party']], @category) %>
            <label for "Time">Time Period:</label>&nbsp;
            <%= select_tag  "timeperiod", options_for_select([['All Period',''],['In three days','259200'],['In a week','604800'],['In thirty days','2592000']], @timeperiod) %>
            <%= submit_tag "Search", :name => nil, :class => "submit btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    </header>
    <div class="container-fluid">
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>  
    </div>
    
    <!--notification area-->
    <% if signed_in? %>
      <% current_user.notifications.each do |notification| %>
        <% if notification.kind == 'like' %>
          <p>Hey, <%= link_to User.find(notification.sender_id).name, User.find(notification.sender_id) %> liked you.</p>
        <% elsif notification.kind == 'attend' %>
          <p>Hey, <%= link_to User.find(notification.link_id).name, User.find(notification.link_id)%> attended your event:
            <%= link_to Event.find(notification.sender_id).title, Event.find(notification.sender_id)%></p>
          
        <% end %>
      <%end%>
    <% end %>
    
    <div id='status'></div>
    
    
<footer>
  <div class="footer container-fluid navbar-fixed-bottom">
    <p>Copyright &copy; 2013</p><br>
    <p>Designed for </p><a href="http://6.470.scripts.mit.edu/2013/">MIT 6.470 </a><br>
    <p>By </p><%=link_to "XDL", about_path %>
  </div>
  <%= yield :scripts %>
</footer>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
 
